body {
    background-color: #5d5e61;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
 }

h1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
}

:is(h2,h3,h4){
  color: #474954;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    
}

p {
    color: black;
  }

a{
  color: #7CDEDC;
  text-decoration: none;
}

.header{
    background-color: #0a3da3;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

ul#navlist{
  float: right;
  padding-right: 10%;
  color: white;
}

ul#navlist li{
  display: inline;
  padding: 20px;
  list-style-type: none;
  float: left;
  text-align: right;

}

.content{
  background-color: white;
  color: black;
  margin: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 5%;
  border-radius: 15px;
  text-align: left;
}

.footer{
  background-color: #A9B3CE;
  position: fixed;
  bottom: 0;
  left: 0px;
  width: 100%;
  text-align: center;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #4b6bd6;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


clearfix::after {
  overflow: auto;
  content: "";
  clear: both;
  display: table;
}